@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@* <h1>@ViewData["Title"]</h1> *@
<div class="row" style="background-color:#EAF6F4 ;">
@* <div class="container-fluid" style="background-color:#EAF6F4 ;"> *@
    <div class="container ">
        <section class="mx-auto col-md-6 mt-5 " style="text-align: center;">
            <h1 class="mb-5" style="color: #D21F3C ; padding-block: 4rem;" >Log in</h1>
            <form id="account" method="post" class=" mt-5 d.flex flex-column p-3">
                @* <hr /> *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3  text-start">
                    <input asp-for="Input.Email" class="form-control mb-2" autocomplete="username" aria-required="true" placeholder="Email" style="background-color:#EAF6F4;border: 1px solid #175E52;"/>
                    <label asp-for="Input.Email" class="form-label  "></label>
                    <div class="mb-5">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating mb-3  text-start">
                    <input asp-for="Input.Password" class="form-control mb-2" autocomplete="current-password" aria-required="true" placeholder="Password" style="background-color:#EAF6F4;border: 1px solid #175E52;"/>
                    <label asp-for="Input.Password" class="form-label"></label>
                    <div class="mb-5">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                </div>
                @* <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div> *@
                <div class="mt-5">
                    @* <button id="login-submit" type="submit" class="w-25 btn btn-lg btn-primary rounded-pill" style="background-color: ;" >Log in</button> *@
                    <button id="login-submit" type="submit" class="btn btn-lg btn-primary rounded-pill" style="padding-inline: 3rem ; background-color: #175E52;">Enter</button>
                </div>
            </form>
                @* <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div> *@
        </section>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
